<form [formGroup]="taskInputForm" (ngSubmit)="onSubmit()" class="task-input-form">
    <mat-form-field>
        <mat-label>Add Task</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error *ngIf="taskInputForm.get('name')?.hasError('required')">Add Task is Required</mat-error>
        <mat-error *ngIf="taskInputForm.get('name')?.hasError('minlength')">Task Name Must Be Five Characters Minimum</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Task Description" formControlName="description"></textarea>
        <mat-error *ngIf="taskInputForm.get('description')?.hasError('minlength')">Task Description Must Be Five Characters Minimum</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">Add Task</button>
</form>